In [38]:
import numpy as np
import pandas as pd

In [39]:
import rpa as r

In [40]:
df = pd.read_csv('Users_test.csv')
df2 = df.replace(np.nan, '', regex=True)
df2.head()

                       Name        Company
0          Richard Olayanju         Octave
1            Ntongha Ibiang  ParallelScore
2       Victor Momodu, ABDA
3  Edward Oluwaseyi Olayemi     First Bank
4  Sadeeq Akinyemi AKINTOLA

In [41]:
df2['search'] = df2['Name'] +" " + df2['Company'] + ' site:linkedin.com'
df2.head(6)

,Name,Company,search
0,Richard Olayanju,Octave,Richard Olayanju Octave site:linkedin.com
1,Ntongha Ibiang,ParallelScore,Ntongha Ibiang ParallelScore site:linkedin.com
2,"Victor Momodu, ABDA",,"Victor Momodu, ABDA site:linkedin.com"
3,Edward Oluwaseyi Olayemi,First Bank,Edward Oluwaseyi Olayemi First Bank site:linke...
4,Sadeeq Akinyemi AKINTOLA,,Sadeeq Akinyemi AKINTOLA site:linkedin.com
5,Boluwatife Okusanya,ParallelScore,Boluwatife Okusanya ParallelScore site:linkedi...

In [42]:
query = df2['search'].to_list()
r.init(visual_automation = True)
for q in query:
    r.url('https://www.google.com')
    r.wait(1)
    r.type('//*[@name="q"]', f'{q}[enter]')
    r.wait(2)
    l = r.read('.g:nth-child(1) .LC20lb.DKV0Md')
    r.wait(1)
    r.rclick('.g:nth-child(1) .LC20lb.DKV0Md')
    r.keyboard('[E]')
    r.wait(1)
    r.write(r.clipboard() + ' \n','profile_url.csv')
    r.wait(1)
    r.write(l + ' \n', 'position.csv')
    r.wait(1)
    r.keyboard('[backspace]')
    r.wait(1)

In [43]:
r.close()

True

In [44]:
profile = pd.read_csv('profile_url.csv')
positions = pd.read_csv('position.csv')
frame = [positions,profile]
final_df = pd.concat(frame,axis=1)
final_df.to_csv('profile_details.csv', index=False)
final_df = final_df.replace(np.nan, '', regex=True)

In [45]:
final_df.head(15)

,Name_Bio,Certification_Credential,Link
0,Richard Olayanju,ABDA™ - Data Scientist - Octave Analytics,https://ng.linkedin.com/in/richard-olayanju
1,Ntongha Ibiang - NLP Data Scientist - Parallel...,,https://ng.linkedin.com/in/ntongha-ibiang-a0b9...
2,Victor Momodu,ABDA™ – Jacobs University Bremen - LinkedIn,https://de.linkedin.com/in/victormomodu
3,Edward Oluwaseyi Olayemi - Team Lead,Insight and Analytics,https://ng.linkedin.com/in/eddyena
4,Sadeeq Akinyemi AKINTOLA - Azure Cloud Big Dat...,,https://pt.linkedin.com/in/sadeeqakintola
5,Boluwatife Okusanya - Human Resource Manager -...,,https://ng.linkedin.com/in/okusanya-boluwatife
6,Opeoluwa Iwashokun - Country Manager - Hebroux...,,https://ng.linkedin.com/in/opeoluwa-iwashokun-...

# Transformations/ Fetching Extra Details

In [1]:
# Bio (From Name and Credential)
# Inferred_Location or Country (From Link)
#

In [46]:
final_df['FullName'] = final_df['Name_Bio'].str.split('-').str[0]
final_df['Position'] = final_df['Name_Bio'].str.split('-').str[1]
final_df['Extra'] = final_df['Name_Bio'].str.split('-').str[2]
final_df['Position2'] = final_df['Certification_Credential'].str.split('-').str[1]
final_df['Certification_Credential'] = final_df['Certification_Credential'].str.split('-').str[0]
final_df = final_df.replace(np.nan, '', regex=True)
final_df['Bio_And_CertificationExtra'] = final_df['Certification_Credential'] + final_df['Extra']
final_df['Position'] = final_df['Position'] + final_df['Position2']
final_df['Linkedin_Location'] = final_df['Link'].str.slice(8,10)
final_df = final_df.drop(['Extra','Position2','Certification_Credential'], axis = 1)
final_df.head(10)

,Name_Bio,Link,FullName,Position,Bio_And_CertificationExtra,Linkedin_Location
0,Richard Olayanju,https://ng.linkedin.com/in/richard-olayanju,Richard Olayanju,Data Scientist,ABDA™,ng
1,Ntongha Ibiang - NLP Data Scientist - Parallel...,https://ng.linkedin.com/in/ntongha-ibiang-a0b9...,Ntongha Ibiang,NLP Data Scientist,ParallelScore,ng
2,Victor Momodu,https://de.linkedin.com/in/victormomodu,Victor Momodu,LinkedIn,ABDA™ – Jacobs University Bremen,de
3,Edward Oluwaseyi Olayemi - Team Lead,https://ng.linkedin.com/in/eddyena,Edward Oluwaseyi Olayemi,Team Lead,Insight and Analytics,ng
4,Sadeeq Akinyemi AKINTOLA - Azure Cloud Big Dat...,https://pt.linkedin.com/in/sadeeqakintola,Sadeeq Akinyemi AKINTOLA,Azure Cloud Big Data Support ...,,pt
5,Boluwatife Okusanya - Human Resource Manager -...,https://ng.linkedin.com/in/okusanya-boluwatife,Boluwatife Okusanya,Human Resource Manager,LinkedIn ...,ng
6,Opeoluwa Iwashokun - Country Manager - Hebroux...,https://ng.linkedin.com/in/opeoluwa-iwashokun-...,Opeoluwa Iwashokun,Country Manager,Hebroux Consulting,ng