In [55]:
import numpy as np
import pandas as pd

In [56]:
import rpa as r

In [57]:
df = pd.read_csv('Users_test.csv')
df2 = df.replace(np.nan, '', regex=True)
df2.head()

                  Name        Company
0     Richard Olayanju         Octave
1       Ntongha Ibiang  ParallelScore
2     Temilola Onaneye
3        Victor Momodu
4  Boluwatife Okesanya  ParallelScore

In [58]:
df2['search'] = df2['Name'] +" " + df2['Company'] + ' site:linkedin.com'
df2.head()

,Name,Company,search
0,Richard Olayanju,Octave,Richard Olayanju Octave site:linkedin.com
1,Ntongha Ibiang,ParallelScore,Ntongha Ibiang ParallelScore site:linkedin.com
2,Temilola Onaneye,,Temilola Onaneye site:linkedin.com
3,Victor Momodu,,Victor Momodu site:linkedin.com
4,Boluwatife Okesanya,ParallelScore,Boluwatife Okesanya ParallelScore site:linkedi...

    r.init(visual_automation = True)
    r.url('https://www.google.com')
    r.wait(1)
    r.type('//*[@name="q"]', f'{q}[enter]')
    r.wait(2)
    r.rclick('.g:nth-child(1) .LC20lb.DKV0Md')
    l = r.read('.g:nth-child(1) .LC20lb.DKV0Md')
    #r.keyboard('[E]')
    r.wait(1)
    #l  = r.keyboard('[ctrl][V]')
    #link = str(l)
    r.write(l,'profile_url.csv')
    r.wait(2)

    r.init(visual_automation = True)
    r.url('https://www.google.com')
    r.wait(1)
    r.type('//*[@name="q"]', f'{q}[enter]')
    r.wait(2)
    r.rclick('.g:nth-child(1) .LC20lb.DKV0Md')
    r.keyboard('[E]')
    r.wait(1)
    #l  = r.keyboard('[ctrl][V]')
    #link = str(l)
    r.write(r.clipboard(),'profile_url.csv')
    r.wait(2)

r.close()

In [59]:
query = df2['search'].to_list()
r.init(visual_automation = True)
for q in query:
    r.url('https://www.google.com')
    r.wait(1)
    r.type('//*[@name="q"]', f'{q}[enter]')
    r.wait(2)
    l = r.read('.g:nth-child(1) .LC20lb.DKV0Md')
    r.wait(1)
    r.rclick('.g:nth-child(1) .LC20lb.DKV0Md')
    r.keyboard('[E]')
    r.wait(1)
    r.write(r.clipboard() + ' \n','profile_url.csv')
    r.wait(1)
    r.write(l + ' \n', 'position.csv')
    r.wait(2)

In [60]:
r.close()

True

In [61]:
profile = pd.read_csv('profile_url.csv')
positions = pd.read_csv('position.csv')
frame = [positions,profile]
final_df = pd.concat(frame,axis=1)
final_df.to_csv('profile_details.csv', index=False)

In [62]:
final_df.head()

,Postion_Info,Certification,Link
0,Richard Olayanju,ABDA™ - Data Scientist - Octave Analytics,https://ng.linkedin.com/in/richard-olayanju
1,Ntongha Ibiang - NLP Data Scientist - Parallel...,NaN,https://ng.linkedin.com/in/ntongha-ibiang-a0b9...
2,Temilola Onaneye,ABDE™ - Data Engineer - LinkedIn Nigeria,https://ng.linkedin.com/in/temilola-onaneye-ab...
3,Victor Momodu,ABDA™ – Jacobs University Bremen - LinkedIn,https://de.linkedin.com/in/victormomodu
4,Boluwatife Okusanya - Human Resource Manager -...,NaN,https://ng.linkedin.com/in/okusanya-boluwatife